<!DOCTYPE html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ assets }}/style/screen.css" type="text/css">
  </head>
  <body>
    {{>header}}
    {{>sidebar}}
    <div id="tagcloud"></div>
    <div id="content">
    <!-- form to create a post -->
    <form id="new-sowing" action="new.html" method="post">
      <h1>{{pageTitle}}</h1>
      <p><label for="seed">Seed</label>
      <select name="seed_id"></select></p>
      
      <p><label for="quantity">Quantity</label>
      <input type="text" name="quantity" value="{{quantity}}"></input></p>
      <p>
        <label for="tags">Click tags to add them. (split by ',')</label>
        <input size="50" type="text" name="tags" value="{{tags}}">
      </p>
      <p>
        <input id="preview" type="button" value="Preview"/>
        <input type="submit" value="Save &rarr;"/> 
        <span id="saved" style="display:none;">Saved</span>
        </p>
    </form>
    <a target="_new" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown help</a>
      <div id="show-preview"></div>
    </div>
  </body>
  {{>scripts}}
  <script src="../../script/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {

      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      var postForm, igrow = app.require("lib/igrow");
      var postDoc = {{{doc}}};

      $('label[for=common_name]').append(' <em>with '+(postDoc.format||'html')+'</em>');
      $("form#new-seed").submit(function() {
        postDoc.user = $$("#account").userCtx.name;
        
        postDoc.quantity = $("input[name=quantity]").val();
        postDoc.supplier_id = $("input[name=supplier_id]").val();
        
        postDoc.type = 'sowing';
        
        var dtags = [], tags = $("input[name=tags]").val().split(",");
        for(var i in tags) {
          dtags.push($.trim(tags[i]));
        }
        postDoc.tags = dtags;
        if (!postDoc.created) {
          postDoc.created = new Date();
          postDoc.modified = postDoc.created;
        }
        app.db.saveDoc(postDoc, {
          success : function(resp) {
            $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(6000);
            $('h1').html('Editing <a href="'+path.show('sowing',resp.id)+'">'+resp.id+'</a> by '+postDoc.user);
          }
        });
        return false;
      });
      
      if (postDoc._id) {
        $('#preview').before('<input type="button" id="delete" value="Delete Seed"/> ');
        $("#delete").click(function() {
          app.db.deleteDoc(postDoc, {
            success : function(resp) {
              $("h1").text("Deleted "+resp.id);
              $('form#new-seed input').attr('disabled', true);
            }
          });
          return false;
        });
      }

      $("#preview").click(function() {
        var markdown = app.require("vendor/couchapp/lib/markdown");
        //var html = render(postDoc);
        $('#show-preview').html(html);
        $('body').scrollTo('#show-preview', {duration: 500});
      });
      
    });
  </script>
</html>
