<!DOCTYPE html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ assets }}/style/screen.css" type="text/css">
  </head>
  <body>
    {{>header}}
    {{>sidebar}}
    <div id="tagcloud"></div>
    <div id="content">
    <!-- form to create a post -->
    <form id="new-sowing" action="new.html" method="post">
      <h1>{{pageTitle}}</h1>
      
      <p><label for="seed_id">Common Name</label>
      <select id="common_name" name="common_name"></select>
      </p>
      
      <p><label for="seed_id">Seed</label>
      <select id="seed_id" name="seed_id"></select>
      </p>
      
      <p>
      <label for="container_type">Container Type</label>
      <select id="container_type" name="container_type">
        <option value="tray">Tray</option>
        <option value="half_tray">Half Tray</option>
        <option value="9_cm_pot">9cm Pot</option>
        <option value="6_cell_tray">6 Cell Tray</option>
      </select>
      </p>
      
      <p><label for="quantity">Quantity</label>
      <input type="text" name="quantity" value="{{quantity}}"></input></p>
      
      <p>
        <label for="tags">Click tags to add them. (split by ',')</label>
        <input size="50" type="text" name="tags" value="{{tags}}">
      </p>
      <p>
        <input id="preview" type="button" value="Preview"/>
        <input type="submit" value="Save &rarr;"/> 
        <span id="saved" style="display:none;">Saved</span>
        </p>
    </form>
    <a target="_new" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown help</a>
      <div id="show-preview"></div>
    </div>
  </body>
  {{>scripts}}
  <script src="../../script/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {

      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      var postForm, igrow = app.require("lib/igrow");
      var postDoc = {{{doc}}};

      $('label[for=common_name]').append(' <em>with '+(postDoc.format||'html')+'</em>');
      $("form#new-sowing").submit(function() {
        postDoc.user = $$("#account").userCtx.name;
        
        postDoc.quantity = $("input[name=quantity]").val();
        postDoc.supplier_id = $("input[name=supplier_id]").val();
        
        postDoc.type = 'sowing';
        
        var dtags = [], tags = $("input[name=tags]").val().split(",");
        for(var i in tags) {
          dtags.push($.trim(tags[i]));
        }
        postDoc.tags = dtags;
        if (!postDoc.created) {
          postDoc.created = new Date();
          postDoc.modified = postDoc.created;
        }
        app.db.saveDoc(postDoc, {
          success : function(resp) {
            $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(6000);
            $('h1').html('Editing <a href="'+path.show('sowing',resp.id)+'">'+resp.id+'</a> by '+postDoc.user);
          }
        });
        return false;
      });
      
      if (postDoc._id) {
        $('#preview').before('<input type="button" id="delete" value="Delete Seed"/> ');
        $("#delete").click(function() {
          app.db.deleteDoc(postDoc, {
            success : function(resp) {
              $("h1").text("Deleted "+resp.id);
              $('form#new-seed input').attr('disabled', true);
            }
          });
          return false;
        });
      }

      $('#preview').click(function() {
        var markdown = app.require("vendor/couchapp/lib/markdown");
        //var html = render(postDoc);
        $('#show-preview').html(html);
        $('body').scrollTo('#show-preview', {duration: 500});
      });
      
      $.couch.db("igrow").view("igrow/plants", {
    	    success: function(data) {
    	        console.log(data);
    	        var plants = data.rows;
    	        //jQuery.each(seeds, function(i, val) {
    	        for (var i = 0; i < plants.length; ++i) {
    	        	$('#common_name').append($("<option></option>")
        	                .attr("value", plants[i].key)
        	                .text(plants[i].key));
    	       	}
    	        //
    	    },
    	    error: function(status) {
    	        console.log(status);
    	    },
    	    reduce: false
    	});
      
      $('#common_name').select(function () {
    	
    	  $.couch.db("igrow").view("igrow/seeds", {
    	  	    success: function(data) {
    	  	        console.log(data);
    	  	        var seeds = data.rows;
    	  	        //jQuery.each(seeds, function(i, val) {
    	  	        for (var i = 0; i < seeds.length; ++i) {
    	  	        	$('#seed_id').append($("<option></option>")
    	      	                .attr("value", seeds[i]._id)
    	      	                .text(seeds[i].value.variety_or_cultivar + " - " + seeds[i].value.supplier));
    	  	       	}
    	  	        //
    	  	    },
    	  	    error: function(status) {
    	  	        console.log(status);
    	  	    },
    	  	    reduce: false,
    	  	    key: $('#common_name').options[$('#common_name').selectedIndex].value
    	  	    });
        
      });        
      
      
  	        
    });
  </script>
</html>
