<!DOCTYPE html>
<html>
  <head>
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ assets }}/style/screen.css" type="text/css">
  </head>
  <body>
    {{>header}}
    <div id="tagcloud"></div>
    <div id="content">
    <!-- form to create a post -->
    <form id="new-seed" action="new.html" method="post">
      <h1>{{pageTitle}}</h1>
      <p><label for="binomial_name">Binomial Name</label>
      <input type="text" name="binomial_name" size="50" value="{{binomial_name}}">{{binomial_name}}</input></p>
        <p><label>Common Name</label>
          <input type="text" size="50" name="common_name" value="{{common_name}}"></p>
      <p><label for="cultivar_or_variety">Cultivar or Variety</label>
      <input type="text" name="cultivar_or_variety" size="50" value="{{cultivar_or_variety}}">{{cultivar_or_variety}}</input></p>
      <p><label for="pack_size">Pack Size</label>
      <input type="text" name="pack_size" value="{{pack_size}}">{{pack_size}}</input></p>
      <p><label for="price">Price</label>
      <input type="text" name="price" value="{{price}}">{{price}}</input></p>
      <p>
        <label for="tags">Click tags to add them. (split by ',')</label>
        <input size="50" type="text" name="tags" value="{{tags}}">
      </p>
      <p>
        <input id="preview" type="button" value="Preview"/>
        <input type="submit" value="Save &rarr;"/> 
        <span id="saved" style="display:none;">Saved</span>
        </p>
    </form>
    <a target="_new" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown help</a>
      <div id="show-preview"></div>
    </div>
  </body>
  {{>scripts}}
  <script src="../../script/jquery.scrollTo.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {

      var path = app.require("vendor/couchapp/lib/path").init(app.req);
      var postForm, igrow = app.require("lib/igrow");
      var postDoc = {{{doc}}};

      $('label[for=body]').append(' <em>with '+(postDoc.format||'html')+'</em>');
      $("form#new-seed").submit(function() {
        postDoc.user = $$("#account").userCtx.name;
        postDoc.variety_or_cultivar = $("input[name=variety_or_cultivar]").val();
        postDoc.binomial_name = $("input[name=binomial_name]").val();
        postDoc.common_name = $("input[name=common_name]").val();
        postDoc.type = 'seed';
        
        var dtags = [], tags = $("input[name=tags]").val().split(",");
        for(var i in tags) {
          dtags.push($.trim(tags[i]));
        }
        postDoc.tags = dtags;
        if (!postDoc.created) {
          postDoc.created = new Date();
        }
        app.db.saveDoc(postDoc, {
          success : function(resp) {
            $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(6000);
            $('h1').html('Editing <a href="'+path.show('post',resp.id)+'">'+resp.id+'</a> by '+postDoc.author);
          }
        });
        return false;
      });

      if (postDoc._id) {
        $('#preview').before('<input type="button" id="delete" value="Delete Seed"/> ');
        $("#delete").click(function() {
          app.db.deleteDoc(postDoc, {
            success : function(resp) {
              $("h1").text("Deleted "+resp.id);
              $('form#new-seed input').attr('disabled', true);
            }
          });
          return false;
        });
      }

      $("#preview").click(function() {
        var markdown = app.require("vendor/couchapp/lib/markdown");
        var html = markdown.encode($("textarea[name=body]").val());
        $('#show-preview').html(html);
        $('body').scrollTo('#show-preview', {duration: 500});
      });
    });
  </script>
</html>
