<!DOCTYPE html>
<html>
<head>
<title>iGrow Horticultural System</title>
<link rel="stylesheet" href="../../style/screen.css" type="text/css">
<link rel="alternate" type="application/atom+xml" title="Atom Feed"
	href="{{ feedPath }}" />
</head>
<body>
	{{>header}}
	<div id="sidebar">
		<p>Some actions:</p>
		<p>Add seeds</p>
		<p>Sow seeds</p>
		<p>Pot on seedlings</p>
		<p>Print labels</p>
		<p>View reports</p>
	</div>
	<div id="content">
			<h3>Recent Seeds</h3>
			<ul id="seeds">
				{{#recentseeds}}
				<li>
					<div>
						<div class="varietyimage"><img src="{{variety_url}}" alt="{{common_name}}" height="64" width="64" /></div>
						<div class="name">{{common_name}}</div>
					</div>
					
					<div>
						<span>{{variety_or_cultivar}}</span>
						<span>{{supplier}}</span>
						<span>{{pack_size}}</span>
						<span>{{price}}</span>
						<div class="by">
	              			<span class="date">{{ created }}</span> 
	              			by {{user}}
	            		</div>
					</div>
					
				</li>
				{{/recentseeds}}
			</ul>
			<div class="paginate">
				<a href="{{ older }}">older posts</a> <a href="{{5}}">5</a> <a
					href="{{10}}">10</a> <a href="{{25}}">25</a>
			</div>
		
	</div>
</body>

{{>scripts}}
<!-- 
<script type="text/javascript" charset="utf-8">
	$.couch.app(function() {
		$("#tagcloud").evently(this.ddoc.evently.tagcloud, this);
	}, {
		db : "{{db}}",
		design : "{{design}}"
	});
</script>  -->
</html>
